<a href="https://colab.research.google.com/github/greeshmapj/AI-ML-nov2025-assignments/blob/main/Sec5_functions_%2C_oops_%2Cerror_handling_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
x=[1,2,3]
x.pop(0)#index
x.remove(2) #element
x

[3]

# **Functions in Python**

## What is a Function?

A function is a block of reusable code that performs a specific task. Functions help in:

1.Code reusability

2.Better readability

3.Easier debugging and maintenance


# Types of Functions
a) Built-in Functions

Functions already available in Python.

Examples:

In [42]:
print("Hello")
len([1, 2, 3])
max(10, 20)

Hello

20

b) User-defined Functions

Functions created by the programmer using the def keyword

In [43]:
def greet():
  print("Hello, welcome to Python")

In [44]:
greet()

Hello, welcome to Python

#### Function with Parameters

Parameters are variables used to receive values.

In [45]:
def greet(name="Swathi"):
  print("Hello", name)


greet("Swathi")

Hello Swathi

### Function with Multiple Parameters

In [46]:
def add(a, b):
  print(a + b)


add(10, 20)

30

In [47]:
def add(a, b):
  return a + b


result = add(5, 3)
print(result)

8

In [48]:
# module: collection of functions

In [49]:
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [50]:
math.pi

3.141592653589793

In [51]:
math.e

2.718281828459045

In [52]:
math.sqrt(25)

5.0

In [53]:
math.log(100)

4.605170185988092

In [54]:
math.ceil(12.4)

13

In [55]:
math.floor(12.4)

12

In [56]:
math.factorial (10)

3628800

In [57]:
# find 4 to the power 6 ans will be 4096?

math.pow(4,6)

4096.0

In [58]:
math.prod([1,2,3,4])

24

In [59]:
import statistics as st
dir(st)
st.mean( [1,4,6,8])

4.75

In [60]:
st.mean([1,2,3,4])

2.5

In [61]:
st.median([1,2,3,4])

2.5

In [62]:
#variance

In [63]:
corr=[38,36,42,45,39,50]

st.mean(corr)

41.666666666666664

In [64]:
st.variance(corr)

26.666666666666668

In [65]:
st.stdev(corr)

5.163977794943222

In [66]:
corr=[38,39,39,36,42,45,39,50]

st.mode(corr)

39

In [67]:
import random as rd
#check at least 5 functions an its use

In [68]:
x=["nitha","surya","subin","arathi","emily","anu"]
#2 pere venm
rd.sample(x,2)

['emily', 'arathi']

In [69]:
  #class definition
class Dog:   #class
    def __init__(self,colour,breed,age,name):  #attributes
      self.c = colour
      self.breed = breed
      self.age = age
      self.name = name

  #method to describe the dog behaviour
    def bark(self):
      print(self.name, "is fine")

#object creation
dog1 = Dog("white",'pug',6,'tommy')
dog1.bark()

tommy is fine

# OOPS (Object-Oriented Programming System) â€“ Python Basics

## What is OOPS?
OOPS is a programming approach based on objects and classes. It helps in organizing code in a structured, reusable, and secure way.

## Class
**Definition:** A blueprint or recipe that defines what something is and can do.  
**Example:** `Dog` is a class â€“ it tells us what a dog is and what it can do.

## Object
**Definition:** A real instance of a class.  
**Example:** "Pug"

## Attributes
**Definition:** Properties or characteristics of an object.  
**Example:** age = 3`, color="black`

## Methods
**Definition:** Actions an object can perform.  
**Example:** bark() sleep() â†’ Buddy barks.

# List â€“ Python Example

## Class
**Definition:** A blueprint or template that defines what something is and can do.  
**Example:** `list` is a class â€“ it tells Python how lists behave.

## Object
**Definition:** A real instance of a class.  
**Example:** `fruits = ["apple", "banana", "cherry"]` â†’ `fruits` is a list object.

## Attributes
**Definition:** Properties or characteristics of a list object.  
**Example:**  
- `fruits[0]` â†’ `"apple"` (first element)  
- `fruits[1]` â†’ `"banana"` (second element)  
- `fruits[-1]` â†’ `"cherry"` (last element)

## Methods
**Definition:** Actions a list object can perform.  
**Example:**  
- `fruits.append("orange")` â†’ adds `"orange"` to the list  
- `fruits.remove("banana")` â†’ removes `"banana"` from the list  
- `fruits.reverse()` â†’ reverses the list

In [70]:
d={"name":["appu","achu"],"age":[2,3]}
import pandas as pd
data=pd.DataFrame(d)

In [71]:
data

   name  age
0  appu    2
1  achu    3

In [72]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [73]:
x=[1,2,3]
print(type(x))

<class 'list'>

In [74]:
fruits=["apple","orange"] #object 1
x=[1,2,3]#object 2

In [75]:
dir(x)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

What are attributes?
Attribute = anything you access using dot (.)

Example:

In [76]:
lst = [1, 2, 3]

lst.__len__     # attribute
lst.__class__   # attribute ðŸ“Œ If you use dot, it is an attribute.

list

Then what are METHODS?
Method = attribute that is callable

Example:




ðŸ“Œ Methods are callable attributes.

In [77]:
#lst.append()     # method
#lst.clear()      # method
#lst.__len__()    # method

In [78]:
# Class: Dog
# A class is a blueprint that defines what a Dog is and what it has
class Dog:

    # Method: __init__
    # This is a special method (constructor) that runs when an object is created
    # It initializes (sets) the attributes of the object
    def __init__(self, name, age):
        # Attributes of the Dog object
        self.name = name   # name attribute
        self.age = age     # age attribute

# Object: dog1
# dog1 is an object (instance) of the Dog class
dog1 = Dog("Buddy", 3)

# Accessing attributes of the object
print(dog1.name)  # Attribute access â†’ Buddy
print(dog1.age)   # Attribute access â†’ 3

Buddy
3

# Create a class named Student.

Each student should have the following attributes:

name

roll_no

marks

Create a method called display() that prints:

In [79]:
class Student:
  def __init__(self,name,roll_no,marks):
    self.name = name
    self.roll_no = roll_no
    self.marks = marks

  def display(self):
    print(self.name,[self.roll_no],'has scored',self.marks)

stu1 = Student("rani",6543,88)
stu1.display()

rani [6543] has scored 88